In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('평균rainbutgame1.csv', encoding = 'cp949')

In [19]:
# '일시' 열에서 'yyyy-mm-dd' 추출하여 리스트 생성
date_list = [str(date)[:10] for date in pd.to_datetime(df['일시'])]

# 결과 출력
print(date_list)

['2013-04-02', '2013-04-14', '2013-04-24', '2013-04-25', '2013-05-02', '2013-05-03', '2013-05-10', '2013-05-12', '2013-05-18', '2013-05-19', '2013-05-28', '2013-05-29', '2013-06-11', '2013-06-12', '2013-06-21', '2013-06-28', '2013-07-05', '2013-07-07', '2013-07-09', '2013-07-10', '2013-07-11', '2013-07-13', '2013-07-17', '2013-07-23', '2013-07-24', '2013-07-28', '2013-08-03', '2013-08-06', '2013-08-09', '2013-08-10', '2013-08-16', '2013-09-12', '2013-09-13', '2013-09-14', '2013-09-28', '2013-09-29', '2014-03-30', '2014-04-03', '2014-04-27', '2014-04-29', '2014-05-07', '2014-05-08', '2014-05-11', '2014-05-25', '2014-06-10', '2014-06-12', '2014-06-20', '2014-06-21', '2014-06-22', '2014-06-28', '2014-07-02', '2014-07-03', '2014-07-08', '2014-07-09', '2014-07-24', '2014-07-26', '2014-08-04', '2014-08-07', '2014-08-17', '2014-08-22', '2014-08-29', '2014-09-12', '2014-10-16', '2015-03-31', '2015-04-01', '2015-04-03', '2015-04-05', '2015-04-15', '2015-04-16', '2015-05-02', '2015-05-03', '2015-06-12', '2015-06-13', '2015-06-14', '2015-06-17', '2015-06-18', '2015-06-25', '2015-06-26', '2015-07-08', '2015-07-21', '2015-07-26', '2015-07-29', '2015-08-02', '2015-08-07', '2015-08-08', '2015-08-13', '2015-08-14', '2015-08-15', '2015-08-20', '2015-08-21', '2015-08-28', '2015-09-02', '2015-09-05', '2015-10-01', '2016-04-06', '2016-04-07', '2016-04-13', '2016-04-17', '2016-04-21', '2016-05-06', '2016-05-10', '2016-05-24', '2016-06-11', '2016-06-12', '2016-06-24', '2016-06-30', '2016-07-02', '2016-07-06', '2016-07-07', '2016-07-12', '2016-07-28', '2016-07-29', '2016-07-30', '2016-08-09', '2016-08-14', '2016-08-21', '2016-08-23', '2016-08-26', '2016-08-28', '2016-09-02', '2016-09-03', '2016-09-08', '2016-09-17', '2016-10-03', '2016-10-08', '2017-03-31', '2017-04-01', '2017-04-06', '2017-04-09', '2017-04-14', '2017-04-18', '2017-05-10', '2017-05-13', '2017-06-01', '2017-06-06', '2017-06-07', '2017-06-10', '2017-06-24', '2017-06-25', '2017-06-27', '2017-07-01', '2017-07-02', '2017-07-04', '2017-07-08', '2017-07-09', '2017-07-11', '2017-07-18', '2017-07-22', '2017-07-23', '2017-07-28', '2017-08-01', '2017-08-09', '2017-08-10', '2017-08-11', '2017-08-16', '2017-08-17', '2017-08-18', '2017-08-23', '2017-08-24', '2017-09-06', '2017-09-19', '2017-10-01', '2018-04-04', '2018-04-08', '2018-04-10', '2018-04-14', '2018-04-22', '2018-04-24', '2018-05-03', '2018-05-06', '2018-05-13', '2018-05-16', '2018-05-18', '2018-05-22', '2018-05-23', '2018-06-09', '2018-06-10', '2018-06-12', '2018-06-14', '2018-06-15', '2018-06-29', '2018-06-30', '2018-07-03', '2018-07-05', '2018-07-10', '2018-07-11', '2018-07-28', '2018-08-05', '2018-08-09', '2018-09-07', '2018-09-16', '2018-09-20', '2018-09-21', '2018-09-22', '2018-10-06', '2018-10-10', '2019-03-23', '2019-03-30', '2019-04-10', '2019-04-14', '2019-04-21', '2019-04-24', '2019-04-26', '2019-06-06', '2019-06-07', '2019-06-15', '2019-06-18', '2019-06-19', '2019-06-29', '2019-07-11', '2019-07-18', '2019-07-27', '2019-07-29', '2019-07-31', '2019-08-01', '2019-08-07', '2019-08-09', '2019-08-11', '2019-08-17', '2019-08-21', '2019-08-27', '2019-09-06', '2019-09-11', '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-22', '2020-05-08', '2020-05-12', '2020-05-16', '2020-05-19', '2020-05-24', '2020-06-02', '2020-06-11', '2020-06-14', '2020-06-25', '2020-06-26', '2020-06-30', '2020-07-04', '2020-07-14', '2020-07-19', '2020-07-20', '2020-07-24', '2020-07-30', '2020-08-01', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-08', '2020-08-11', '2020-08-15', '2020-08-21', '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30', '2020-09-01', '2020-09-03', '2020-09-06', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-12', '2020-09-19', '2020-09-30', '2020-10-03', '2021-04-04', '2021-04-13', '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01', '2021-05-02', '2021-05-05', '2021-05-15', '2021-05-17', '2021-05-20', '2021-05-21', '2021-05-27', '2021-05-28', '2021-05-30', '2021-06-04', '2021-06-10', '2021-06-11', '2021-06-15', '2021-06-18', '2021-06-22', '2021-06-23', '2021-06-26', '2021-06-27', '2021-07-04', '2021-07-07', '2021-08-18', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-24', '2021-08-27', '2021-08-29', '2021-09-01', '2021-09-08', '2021-09-21', '2021-09-22', '2021-09-28', '2021-10-01', '2021-10-02', '2021-10-06', '2021-10-07', '2021-10-08', '2021-10-16', '2021-10-19', '2022-04-13', '2022-04-26', '2022-04-29', '2022-05-08', '2022-05-18', '2022-05-25', '2022-05-26', '2022-06-09', '2022-06-15', '2022-06-16', '2022-06-24', '2022-06-28', '2022-07-06', '2022-07-07', '2022-07-22', '2022-07-24', '2022-08-03', '2022-08-06', '2022-08-10', '2022-08-11', '2022-08-13', '2022-08-14', '2022-08-23', '2022-08-25', '2022-08-27', '2022-08-31', '2022-09-06', '2022-09-17', '2022-09-23', '2022-10-02', '2022-10-04', '2023-04-04', '2023-04-05', '2023-04-06', '2023-04-11', '2023-04-15', '2023-04-18', '2023-04-28', '2023-04-29', '2023-04-30', '2023-05-18', '2023-05-26', '2023-06-09', '2023-06-11', '2023-06-21', '2023-06-27', '2023-06-30', '2023-07-05', '2023-07-09']

In [20]:
date_list2 = [
    '2010-04-12', '2010-04-13', '2010-04-22', '2010-04-23', '2010-05-06',
    '2010-05-22', '2010-05-23', '2010-05-26', '2010-06-13', '2010-06-15',
    '2010-06-19', '2010-06-20', '2010-06-26', '2010-06-27', '2010-06-30',
    '2010-07-03', '2010-07-04', '2010-07-09', '2010-07-14', '2010-07-22',
    '2010-07-29', '2010-08-04', '2010-08-05', '2010-08-06', '2010-08-07',
    '2010-08-08', '2010-08-11', '2010-08-13', '2010-08-15', '2010-08-18',
    '2010-08-20', '2010-08-24', '2010-08-25', '2010-08-26', '2010-08-28',
    '2010-08-31', '2010-09-01', '2010-09-03', '2010-09-05', '2010-09-09',
    '2010-09-10', '2010-09-11', '2010-09-12', '2010-09-19', '2010-09-20',
    '2011-04-10', '2011-04-22', '2011-04-27', '2011-04-28', '2011-04-30',
    '2011-05-06', '2011-05-07', '2011-05-10', '2011-05-11', '2011-05-21',
    '2011-05-31', '2011-06-01', '2011-06-15', '2011-07-08', '2011-07-09',
    '2011-07-10', '2011-07-12', '2011-07-17', '2011-07-29', '2011-08-02',
    '2011-08-03', '2011-08-04', '2011-08-06', '2011-08-11', '2011-08-13',
    '2011-08-14', '2011-08-20', '2011-09-11', '2011-09-18', '2011-09-29',
    '2012-04-26', '2012-05-17', '2012-05-27', '2012-05-31', '2012-06-12',
    '2012-06-29', '2012-06-30', '2012-07-03', '2012-07-11', '2012-07-13',
    '2012-08-17', '2012-08-18', '2012-08-19', '2012-08-22', '2012-08-23',
    '2012-08-25', '2012-08-29', '2012-09-16', '2012-09-19', '2012-09-28'
]

In [23]:
rainbutgame10_23list = date_list2 + date_list

In [60]:
# 10년 1월 1일 ~ 23년 7월 13일
# 비가 왔지만 경기를 한 날
rainbutgame10_23list

['2010-04-12',
 '2010-04-13',
 '2010-04-22',
 '2010-04-23',
 '2010-05-06',
 '2010-05-22',
 '2010-05-23',
 '2010-05-26',
 '2010-06-13',
 '2010-06-15',
 '2010-06-19',
 '2010-06-20',
 '2010-06-26',
 '2010-06-27',
 '2010-06-30',
 '2010-07-03',
 '2010-07-04',
 '2010-07-09',
 '2010-07-14',
 '2010-07-22',
 '2010-07-29',
 '2010-08-04',
 '2010-08-05',
 '2010-08-06',
 '2010-08-07',
 '2010-08-08',
 '2010-08-11',
 '2010-08-13',
 '2010-08-15',
 '2010-08-18',
 '2010-08-20',
 '2010-08-24',
 '2010-08-25',
 '2010-08-26',
 '2010-08-28',
 '2010-08-31',
 '2010-09-01',
 '2010-09-03',
 '2010-09-05',
 '2010-09-09',
 '2010-09-10',
 '2010-09-11',
 '2010-09-12',
 '2010-09-19',
 '2010-09-20',
 '2011-04-10',
 '2011-04-22',
 '2011-04-27',
 '2011-04-28',
 '2011-04-30',
 '2011-05-06',
 '2011-05-07',
 '2011-05-10',
 '2011-05-11',
 '2011-05-21',
 '2011-05-31',
 '2011-06-01',
 '2011-06-15',
 '2011-07-08',
 '2011-07-09',
 '2011-07-10',
 '2011-07-12',
 '2011-07-17',
 '2011-07-29',
 '2011-08-02',
 '2011-08-03',
 '2011-08-04',
 '2011-08-06',
 '2011-08-11',
 '2011-08-13',
 '2011-08-14',
 '2011-08-20',
 '2011-09-11',
 '2011-09-18',
 '2011-09-29',
 '2012-04-26',
 '2012-05-17',
 '2012-05-27',
 '2012-05-31',
 '2012-06-12',
 '2012-06-29',
 '2012-06-30',
 '2012-07-03',
 '2012-07-11',
 '2012-07-13',
 '2012-08-17',
 '2012-08-18',
 '2012-08-19',
 '2012-08-22',
 '2012-08-23',
 '2012-08-25',
 '2012-08-29',
 '2012-09-16',
 '2012-09-19',
 '2012-09-28',
 '2013-04-02',
 '2013-04-14',
 '2013-04-24',
 '2013-04-25',
 '2013-05-02',
 '2013-05-03',
 '2013-05-10',
 '2013-05-12',
 '2013-05-18',
 '2013-05-19',
 '2013-05-28',
 '2013-05-29',
 '2013-06-11',
 '2013-06-12',
 '2013-06-21',
 '2013-06-28',
 '2013-07-05',
 '2013-07-07',
 '2013-07-09',
 '2013-07-10',
 '2013-07-11',
 '2013-07-13',
 '2013-07-17',
 '2013-07-23',
 '2013-07-24',
 '2013-07-28',
 '2013-08-03',
 '2013-08-06',
 '2013-08-09',
 '2013-08-10',
 '2013-08-16',
 '2013-09-12',
 '2013-09-13',
 '2013-09-14',
 '2013-09-28',
 '2013-09-29',
 '2014-03-30',
 '2014-04-03',
 '2014-04-27',
 '2014-04-29',
 '2014-05-07',
 '2014-05-08',
 '2014-05-11',
 '2014-05-25',
 '2014-06-10',
 '2014-06-12',
 '2014-06-20',
 '2014-06-21',
 '2014-06-22',
 '2014-06-28',
 '2014-07-02',
 '2014-07-03',
 '2014-07-08',
 '2014-07-09',
 '2014-07-24',
 '2014-07-26',
 '2014-08-04',
 '2014-08-07',
 '2014-08-17',
 '2014-08-22',
 '2014-08-29',
 '2014-09-12',
 '2014-10-16',
 '2015-03-31',
 '2015-04-01',
 '2015-04-03',
 '2015-04-05',
 '2015-04-15',
 '2015-04-16',
 '2015-05-02',
 '2015-05-03',
 '2015-06-12',
 '2015-06-13',
 '2015-06-14',
 '2015-06-17',
 '2015-06-18',
 '2015-06-25',
 '2015-06-26',
 '2015-07-08',
 '2015-07-21',
 '2015-07-26',
 '2015-07-29',
 '2015-08-02',
 '2015-08-07',
 '2015-08-08',
 '2015-08-13',
 '2015-08-14',
 '2015-08-15',
 '2015-08-20',
 '2015-08-21',
 '2015-08-28',
 '2015-09-02',
 '2015-09-05',
 '2015-10-01',
 '2016-04-06',
 '2016-04-07',
 '2016-04-13',
 '2016-04-17',
 '2016-04-21',
 '2016-05-06',
 '2016-05-10',
 '2016-05-24',
 '2016-06-11',
 '2016-06-12',
 '2016-06-24',
 '2016-06-30',
 '2016-07-02',
 '2016-07-06',
 '2016-07-07',
 '2016-07-12',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-08-09',
 '2016-08-14',
 '2016-08-21',
 '2016-08-23',
 '2016-08-26',
 '2016-08-28',
 '2016-09-02',
 '2016-09-03',
 '2016-09-08',
 '2016-09-17',
 '2016-10-03',
 '2016-10-08',
 '2017-03-31',
 '2017-04-01',
 '2017-04-06',
 '2017-04-09',
 '2017-04-14',
 '2017-04-18',
 '2017-05-10',
 '2017-05-13',
 '2017-06-01',
 '2017-06-06',
 '2017-06-07',
 '2017-06-10',
 '2017-06-24',
 '2017-06-25',
 '2017-06-27',
 '2017-07-01',
 '2017-07-02',
 '2017-07-04',
 '2017-07-08',
 '2017-07-09',
 '2017-07-11',
 '2017-07-18',
 '2017-07-22',
 '2017-07-23',
 '2017-07-28',
 '2017-08-01',
 '2017-08-09',
 '2017-08-10',
 '2017-08-11',
 '2017-08-16',
 '2017-08-17',
 '2017-08-18',
 '2017-08-23',
 '2017-08-24',
 '2017-09-06',
 '2017-09-19',
 '2017-10-01',
 '2018-04-04',
 '2018-04-08',
 '2018-04-10',
 '2018-04-14',
 '2018-04-22',
 '2018-04-24',
 '2018-05-03',
 '2018-05-06',
 '2018-05-13',
 '2018-05-16',
 '2018-05-18',
 '2018-05-22',
 '2018-05-23',
 '2018-06-09',
 '2018-06-10',
 '2018-06-12',
 '2018-06-14',
 '2018-06-15',
 '2018-06-29',
 '2018-06-30',
 '2018-07-03',
 '2018-07-05',
 '2018-07-10',
 '2018-07-11',
 '2018-07-28',
 '2018-08-05',
 '2018-08-09',
 '2018-09-07',
 '2018-09-16',
 '2018-09-20',
 '2018-09-21',
 '2018-09-22',
 '2018-10-06',
 '2018-10-10',
 '2019-03-23',
 '2019-03-30',
 '2019-04-10',
 '2019-04-14',
 '2019-04-21',
 '2019-04-24',
 '2019-04-26',
 '2019-06-06',
 '2019-06-07',
 '2019-06-15',
 '2019-06-18',
 '2019-06-19',
 '2019-06-29',
 '2019-07-11',
 '2019-07-18',
 '2019-07-27',
 '2019-07-29',
 '2019-07-31',
 '2019-08-01',
 '2019-08-07',
 '2019-08-09',
 '2019-08-11',
 '2019-08-17',
 '2019-08-21',
 '2019-08-27',
 '2019-09-06',
 '2019-09-11',
 '2019-09-12',
 '2019-09-13',
 '2019-09-14',
 '2019-09-22',
 '2020-05-08',
 '2020-05-12',
 '2020-05-16',
 '2020-05-19',
 '2020-05-24',
 '2020-06-02',
 '2020-06-11',
 '2020-06-14',
 '2020-06-25',
 '2020-06-26',
 '2020-06-30',
 '2020-07-04',
 '2020-07-14',
 '2020-07-19',
 '2020-07-20',
 '2020-07-24',
 '2020-07-30',
 '2020-08-01',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-08',
 '2020-08-11',
 '2020-08-15',
 '2020-08-21',
 '2020-08-27',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-09-01',
 '2020-09-03',
 '2020-09-06',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-12',
 '2020-09-19',
 '2020-09-30',
 '2020-10-03',
 '2021-04-04',
 '2021-04-13',
 '2021-04-28',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-05',
 '2021-05-15',
 '2021-05-17',
 '2021-05-20',
 '2021-05-21',
 '2021-05-27',
 '2021-05-28',
 '2021-05-30',
 '2021-06-04',
 '2021-06-10',
 '2021-06-11',
 '2021-06-15',
 '2021-06-18',
 '2021-06-22',
 '2021-06-23',
 '2021-06-26',
 '2021-06-27',
 '2021-07-04',
 '2021-07-07',
 '2021-08-18',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-24',
 '2021-08-27',
 '2021-08-29',
 '2021-09-01',
 '2021-09-08',
 '2021-09-21',
 '2021-09-22',
 '2021-09-28',
 '2021-10-01',
 '2021-10-02',
 '2021-10-06',
 '2021-10-07',
 '2021-10-08',
 '2021-10-16',
 '2021-10-19',
 '2022-04-13',
 '2022-04-26',
 '2022-04-29',
 '2022-05-08',
 '2022-05-18',
 '2022-05-25',
 '2022-05-26',
 '2022-06-09',
 '2022-06-15',
 '2022-06-16',
 '2022-06-24',
 '2022-06-28',
 '2022-07-06',
 '2022-07-07',
 '2022-07-22',
 '2022-07-24',
 '2022-08-03',
 '2022-08-06',
 '2022-08-10',
 '2022-08-11',
 '2022-08-13',
 '2022-08-14',
 '2022-08-23',
 '2022-08-25',
 '2022-08-27',
 '2022-08-31',
 '2022-09-06',
 '2022-09-17',
 '2022-09-23',
 '2022-10-02',
 '2022-10-04',
 '2023-04-04',
 '2023-04-05',
 '2023-04-06',
 '2023-04-11',
 '2023-04-15',
 '2023-04-18',
 '2023-04-28',
 '2023-04-29',
 '2023-04-30',
 '2023-05-18',
 '2023-05-26',
 '2023-06-09',
 '2023-06-11',
 '2023-06-21',
 '2023-06-27',
 '2023-06-30',
 '2023-07-05',
 '2023-07-09']

In [73]:
# 10년 1월 1일 ~ 23년 7월 13일
# 비가 와서 경기 취소된 날
rainandcancelgame10_23list = [
                '2010-03-31', '2010-04-01', '2010-04-21', '2010-04-27', '2010-04-28', # 2010년 
                '2010-05-18', '2010-06-12', '2010-07-02', '2010-07-07', '2010-07-13', 
                '2010-07-16', '2010-07-17', '2010-08-10', '2010-08-12', '2010-08-14', 
                '2010-08-27', '2010-08-29', '2010-09-21',
    
                '2011-04-07', '2011-04-26', '2011-04-30', '2011-05-20', '2011-06-22', # 2011년
                 '2011-06-23', '2011-06-24', '2011-06-25', '2011-06-26', '2011-06-29', 
                 '2011-06-30', '2011-07-03', '2011-07-07', '2011-07-13', '2011-07-14', 
                 '2011-07-15', '2011-07-16', '2011-07-26', '2011-07-27', '2011-07-28', 
                 '2011-07-31', '2011-08-12', '2011-08-16', '2011-08-17',
    
                '2012-04-10', '2012-04-21', '2012-04-22', '2012-04-25', '2012-06-08', # 2012년
                '2012-07-05', '2012-07-06', '2012-07-14', '2012-07-15', '2012-08-12',
                '2012-08-14', '2012-08-15', '2012-08-21', '2012-08-28', '2012-09-13', 
                '2012-09-17',
    
                '2013-04-06', '2013-04-20', '2013-04-23', '2013-05-09', '2013-06-18', # 2013년
                '2013-07-02', '2013-07-04', '2013-07-12', '2013-07-14', '2013-08-31',
                '2013-09-10', '2013-09-11',

    
                '2014-04-17', '2014-06-11', '2014-07-22', '2014-07-23', '2014-07-25', # 2014년
                '2014-08-03', '2014-08-06', '2014-08-10', '2014-08-14', '2014-08-21',
                '2014-08-26', '2014-09-02', '2014-09-03',
    
                '2015-04-02', '2015-04-14', '2015-04-19', '2015-04-29', '2015-05-12', # 2015년
                '2015-05-19', '2015-06-20', '2015-06-30', '2015-07-12', '2015-07-23',
                '2015-07-24', '2015-07-25', '2015-08-16', '2015-08-25', '2015-09-11',

    
                '2016-04-03', '2016-04-16', '2016-05-03', '2016-05-15', '2016-06-15', # 2016년
                '2016-06-22', '2016-07-01', '2016-07-05', '2016-08-25', '2016-08-31',
    
                '2017-04-05', '2017-05-09', '2017-05-23', '2017-07-06', '2017-07-07', # 2017년
                '2017-08-15', '2017-08-20',

                '2018-04-05', '2018-05-02', '2018-05-12', '2018-05-17', '2018-05-29', '2018-06-26', '2018-06-28', '2018-07-01', # 2018년
                
                '2019-04-09', '2019-04-25', '2019-05-19', '2019-07-10', '2019-07-26', #2019년
                '2019-07-28', '2019-08-15', '2019-08-29', '2019-09-04', '2019-09-05',
                '2019-09-10',
                
                '2020-05-09', '2020-05-15', '2020-06-10', '2020-06-24', '2020-07-12', # 2020년
                '2020-07-13', '2020-07-22', '2020-07-23', '2020-07-29', '2020-08-02',
                '2020-08-03', '2020-08-09', '2020-08-10', '2020-08-22', '2020-09-02',
                
                '2021-04-03', '2021-05-16', '2021-06-03', '2021-06-30', '2021-07-03', '2021-08-12', # 2021년
                 '2021-08-17', '2021-08-23', '2021-08-31', '2021-09-07', '2021-09-29', '2021-10-10',
                
                '2022/06/23', '2022/06/29', '2022/06/30', '2022/07/13', '2022/07/23', # 2022년
                '2022/07/31', '2022/08/02', '2022/08/19', '2022/08/30', '2022/09/04', 
                '2022/09/16', '2022/10/03', '2022/10/09', 
                
                '2023/05/06', '2023/05/27', '2023/05/28', '2023/06/29', '2023/07/04', '2023/07/11', '2023/07/13' # 2023년
               ]

In [27]:
all_rain = rainandcancelgame10_23list + rainbutgame10_23list

In [62]:
# 날짜 오름차순 정렬
sorted_all_rain = sorted(all_rain)
sorted_all_rain

['2010-03-31',
 '2010-04-01',
 '2010-04-12',
 '2010-04-13',
 '2010-04-21',
 '2010-04-22',
 '2010-04-23',
 '2010-04-27',
 '2010-04-28',
 '2010-05-06',
 '2010-05-18',
 '2010-05-22',
 '2010-05-23',
 '2010-05-26',
 '2010-06-12',
 '2010-06-13',
 '2010-06-15',
 '2010-06-19',
 '2010-06-20',
 '2010-06-26',
 '2010-06-27',
 '2010-06-30',
 '2010-07-02',
 '2010-07-03',
 '2010-07-04',
 '2010-07-07',
 '2010-07-09',
 '2010-07-13',
 '2010-07-14',
 '2010-07-16',
 '2010-07-17',
 '2010-07-22',
 '2010-07-29',
 '2010-08-04',
 '2010-08-05',
 '2010-08-06',
 '2010-08-07',
 '2010-08-08',
 '2010-08-10',
 '2010-08-11',
 '2010-08-12',
 '2010-08-13',
 '2010-08-14',
 '2010-08-15',
 '2010-08-18',
 '2010-08-20',
 '2010-08-24',
 '2010-08-25',
 '2010-08-26',
 '2010-08-27',
 '2010-08-28',
 '2010-08-29',
 '2010-08-31',
 '2010-09-01',
 '2010-09-03',
 '2010-09-05',
 '2010-09-09',
 '2010-09-10',
 '2010-09-11',
 '2010-09-12',
 '2010-09-19',
 '2010-09-20',
 '2010-09-21',
 '2011-04-07',
 '2011-04-10',
 '2011-04-22',
 '2011-04-26',
 '2011-04-27',
 '2011-04-28',
 '2011-04-30',
 '2011-04-30',
 '2011-05-06',
 '2011-05-07',
 '2011-05-10',
 '2011-05-11',
 '2011-05-20',
 '2011-05-21',
 '2011-05-31',
 '2011-06-01',
 '2011-06-15',
 '2011-06-22',
 '2011-06-23',
 '2011-06-24',
 '2011-06-25',
 '2011-06-26',
 '2011-06-29',
 '2011-06-30',
 '2011-07-03',
 '2011-07-07',
 '2011-07-08',
 '2011-07-09',
 '2011-07-10',
 '2011-07-12',
 '2011-07-13',
 '2011-07-14',
 '2011-07-15',
 '2011-07-16',
 '2011-07-17',
 '2011-07-26',
 '2011-07-27',
 '2011-07-28',
 '2011-07-29',
 '2011-07-31',
 '2011-08-02',
 '2011-08-03',
 '2011-08-04',
 '2011-08-06',
 '2011-08-11',
 '2011-08-12',
 '2011-08-13',
 '2011-08-14',
 '2011-08-16',
 '2011-08-17',
 '2011-08-20',
 '2011-09-11',
 '2011-09-18',
 '2011-09-29',
 '2012-04-10',
 '2012-04-21',
 '2012-04-22',
 '2012-04-25',
 '2012-04-26',
 '2012-05-17',
 '2012-05-27',
 '2012-05-31',
 '2012-06-08',
 '2012-06-12',
 '2012-06-29',
 '2012-06-30',
 '2012-07-03',
 '2012-07-05',
 '2012-07-06',
 '2012-07-11',
 '2012-07-13',
 '2012-07-14',
 '2012-07-15',
 '2012-08-12',
 '2012-08-14',
 '2012-08-15',
 '2012-08-17',
 '2012-08-18',
 '2012-08-19',
 '2012-08-21',
 '2012-08-22',
 '2012-08-23',
 '2012-08-25',
 '2012-08-28',
 '2012-08-29',
 '2012-09-13',
 '2012-09-16',
 '2012-09-17',
 '2012-09-19',
 '2012-09-28',
 '2013-04-02',
 '2013-04-06',
 '2013-04-14',
 '2013-04-20',
 '2013-04-23',
 '2013-04-24',
 '2013-04-25',
 '2013-05-02',
 '2013-05-03',
 '2013-05-09',
 '2013-05-10',
 '2013-05-12',
 '2013-05-18',
 '2013-05-19',
 '2013-05-28',
 '2013-05-29',
 '2013-06-11',
 '2013-06-12',
 '2013-06-18',
 '2013-06-21',
 '2013-06-28',
 '2013-07-02',
 '2013-07-04',
 '2013-07-05',
 '2013-07-07',
 '2013-07-09',
 '2013-07-10',
 '2013-07-11',
 '2013-07-12',
 '2013-07-13',
 '2013-07-14',
 '2013-07-17',
 '2013-07-23',
 '2013-07-24',
 '2013-07-28',
 '2013-08-03',
 '2013-08-06',
 '2013-08-09',
 '2013-08-10',
 '2013-08-16',
 '2013-08-31',
 '2013-09-10',
 '2013-09-11',
 '2013-09-12',
 '2013-09-13',
 '2013-09-14',
 '2013-09-28',
 '2013-09-29',
 '2014-03-30',
 '2014-04-03',
 '2014-04-17',
 '2014-04-27',
 '2014-04-29',
 '2014-05-07',
 '2014-05-08',
 '2014-05-11',
 '2014-05-25',
 '2014-06-10',
 '2014-06-11',
 '2014-06-12',
 '2014-06-20',
 '2014-06-21',
 '2014-06-22',
 '2014-06-28',
 '2014-07-02',
 '2014-07-03',
 '2014-07-08',
 '2014-07-09',
 '2014-07-22',
 '2014-07-23',
 '2014-07-24',
 '2014-07-25',
 '2014-07-26',
 '2014-08-03',
 '2014-08-04',
 '2014-08-06',
 '2014-08-07',
 '2014-08-10',
 '2014-08-14',
 '2014-08-17',
 '2014-08-21',
 '2014-08-22',
 '2014-08-26',
 '2014-08-29',
 '2014-09-02',
 '2014-09-03',
 '2014-09-12',
 '2014-10-16',
 '2015-03-31',
 '2015-04-01',
 '2015-04-02',
 '2015-04-03',
 '2015-04-05',
 '2015-04-14',
 '2015-04-15',
 '2015-04-16',
 '2015-04-19',
 '2015-04-29',
 '2015-05-02',
 '2015-05-03',
 '2015-05-12',
 '2015-05-19',
 '2015-06-12',
 '2015-06-13',
 '2015-06-14',
 '2015-06-17',
 '2015-06-18',
 '2015-06-20',
 '2015-06-25',
 '2015-06-26',
 '2015-06-30',
 '2015-07-08',
 '2015-07-12',
 '2015-07-21',
 '2015-07-23',
 '2015-07-24',
 '2015-07-25',
 '2015-07-26',
 '2015-07-29',
 '2015-08-02',
 '2015-08-07',
 '2015-08-08',
 '2015-08-13',
 '2015-08-14',
 '2015-08-15',
 '2015-08-16',
 '2015-08-20',
 '2015-08-21',
 '2015-08-25',
 '2015-08-28',
 '2015-09-02',
 '2015-09-05',
 '2015-09-11',
 '2015-10-01',
 '2016-04-03',
 '2016-04-06',
 '2016-04-07',
 '2016-04-13',
 '2016-04-16',
 '2016-04-17',
 '2016-04-21',
 '2016-05-03',
 '2016-05-06',
 '2016-05-10',
 '2016-05-15',
 '2016-05-24',
 '2016-06-11',
 '2016-06-12',
 '2016-06-15',
 '2016-06-22',
 '2016-06-24',
 '2016-06-30',
 '2016-07-01',
 '2016-07-02',
 '2016-07-05',
 '2016-07-06',
 '2016-07-07',
 '2016-07-12',
 '2016-07-28',
 '2016-07-29',
 '2016-07-30',
 '2016-08-09',
 '2016-08-14',
 '2016-08-21',
 '2016-08-23',
 '2016-08-25',
 '2016-08-26',
 '2016-08-28',
 '2016-08-31',
 '2016-09-02',
 '2016-09-03',
 '2016-09-08',
 '2016-09-17',
 '2016-10-03',
 '2016-10-08',
 '2017-03-31',
 '2017-04-01',
 '2017-04-05',
 '2017-04-06',
 '2017-04-09',
 '2017-04-14',
 '2017-04-18',
 '2017-05-09',
 '2017-05-10',
 '2017-05-13',
 '2017-05-23',
 '2017-06-01',
 '2017-06-06',
 '2017-06-07',
 '2017-06-10',
 '2017-06-24',
 '2017-06-25',
 '2017-06-27',
 '2017-07-01',
 '2017-07-02',
 '2017-07-04',
 '2017-07-06',
 '2017-07-07',
 '2017-07-08',
 '2017-07-09',
 '2017-07-11',
 '2017-07-18',
 '2017-07-22',
 '2017-07-23',
 '2017-07-28',
 '2017-08-01',
 '2017-08-09',
 '2017-08-10',
 '2017-08-11',
 '2017-08-15',
 '2017-08-16',
 '2017-08-17',
 '2017-08-18',
 '2017-08-20',
 '2017-08-23',
 '2017-08-24',
 '2017-09-06',
 '2017-09-19',
 '2017-10-01',
 '2018-04-04',
 '2018-04-05',
 '2018-04-08',
 '2018-04-10',
 '2018-04-14',
 '2018-04-22',
 '2018-04-24',
 '2018-05-02',
 '2018-05-03',
 '2018-05-06',
 '2018-05-12',
 '2018-05-13',
 '2018-05-16',
 '2018-05-17',
 '2018-05-18',
 '2018-05-22',
 '2018-05-23',
 '2018-05-29',
 '2018-06-09',
 '2018-06-10',
 '2018-06-12',
 '2018-06-14',
 '2018-06-15',
 '2018-06-26',
 '2018-06-28',
 '2018-06-29',
 '2018-06-30',
 '2018-07-01',
 '2018-07-03',
 '2018-07-05',
 '2018-07-10',
 '2018-07-11',
 '2018-07-28',
 '2018-08-05',
 '2018-08-09',
 '2018-09-07',
 '2018-09-16',
 '2018-09-20',
 '2018-09-21',
 '2018-09-22',
 '2018-10-06',
 '2018-10-10',
 '2019-03-23',
 '2019-03-30',
 '2019-04-09',
 '2019-04-10',
 '2019-04-14',
 '2019-04-21',
 '2019-04-24',
 '2019-04-25',
 '2019-04-26',
 '2019-05-19',
 '2019-06-06',
 '2019-06-07',
 '2019-06-15',
 '2019-06-18',
 '2019-06-19',
 '2019-06-29',
 '2019-07-10',
 '2019-07-11',
 '2019-07-18',
 '2019-07-26',
 '2019-07-27',
 '2019-07-28',
 '2019-07-29',
 '2019-07-31',
 '2019-08-01',
 '2019-08-07',
 '2019-08-09',
 '2019-08-11',
 '2019-08-15',
 '2019-08-17',
 '2019-08-21',
 '2019-08-27',
 '2019-08-29',
 '2019-09-04',
 '2019-09-05',
 '2019-09-06',
 '2019-09-10',
 '2019-09-11',
 '2019-09-12',
 '2019-09-13',
 '2019-09-14',
 '2019-09-22',
 '2020-05-08',
 '2020-05-09',
 '2020-05-12',
 '2020-05-15',
 '2020-05-16',
 '2020-05-19',
 '2020-05-24',
 '2020-06-02',
 '2020-06-10',
 '2020-06-11',
 '2020-06-14',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-30',
 '2020-07-04',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-19',
 '2020-07-20',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-29',
 '2020-07-30',
 '2020-08-01',
 '2020-08-02',
 '2020-08-03',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-08',
 '2020-08-09',
 '2020-08-10',
 '2020-08-11',
 '2020-08-15',
 '2020-08-21',
 '2020-08-22',
 '2020-08-27',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-09-01',
 '2020-09-02',
 '2020-09-03',
 '2020-09-06',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-12',
 '2020-09-19',
 '2020-09-30',
 '2020-10-03',
 '2021-04-03',
 '2021-04-04',
 '2021-04-13',
 '2021-04-28',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-05',
 '2021-05-15',
 '2021-05-16',
 '2021-05-17',
 '2021-05-20',
 '2021-05-21',
 '2021-05-27',
 '2021-05-28',
 '2021-05-30',
 '2021-06-03',
 '2021-06-04',
 '2021-06-10',
 '2021-06-11',
 '2021-06-15',
 '2021-06-18',
 '2021-06-22',
 '2021-06-23',
 '2021-06-26',
 '2021-06-27',
 '2021-06-30',
 '2021-07-03',
 '2021-07-04',
 '2021-07-07',
 '2021-08-12',
 '2021-08-17',
 '2021-08-18',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-23',
 '2021-08-24',
 '2021-08-27',
 '2021-08-29',
 '2021-08-31',
 '2021-09-01',
 '2021-09-07',
 '2021-09-08',
 '2021-09-21',
 '2021-09-22',
 '2021-09-28',
 '2021-09-29',
 '2021-10-01',
 '2021-10-02',
 '2021-10-06',
 '2021-10-07',
 '2021-10-08',
 '2021-10-10',
 '2021-10-16',
 '2021-10-19',
 '2022-04-13',
 '2022-04-26',
 '2022-04-29',
 '2022-05-08',
 '2022-05-18',
 '2022-05-25',
 '2022-05-26',
 '2022-06-09',
 '2022-06-15',
 '2022-06-16',
 '2022-06-24',
 '2022-06-28',
 '2022-07-06',
 '2022-07-07',
 '2022-07-22',
 '2022-07-24',
 '2022-08-03',
 '2022-08-06',
 '2022-08-10',
 '2022-08-11',
 '2022-08-13',
 '2022-08-14',
 '2022-08-23',
 '2022-08-25',
 '2022-08-27',
 '2022-08-31',
 '2022-09-06',
 '2022-09-17',
 '2022-09-23',
 '2022-10-02',
 '2022-10-04',
 '2022/06/23',
 '2022/06/29',
 '2022/06/30',
 '2022/07/13',
 '2022/07/23',
 '2022/07/31',
 '2022/08/02',
 '2022/08/19',
 '2022/08/30',
 '2022/09/04',
 '2022/09/16',
 '2022/10/03',
 '2022/10/09',
 '2023-04-04',
 '2023-04-05',
 '2023-04-06',
 '2023-04-11',
 '2023-04-15',
 '2023-04-18',
 '2023-04-28',
 '2023-04-29',
 '2023-04-30',
 '2023-05-18',
 '2023-05-26',
 '2023-06-09',
 '2023-06-11',
 '2023-06-21',
 '2023-06-27',
 '2023-06-30',
 '2023-07-05',
 '2023-07-09',
 '2023/05/06',
 '2023/05/27',
 '2023/05/28',
 '2023/06/29',
 '2023/07/04',
 '2023/07/11',
 '2023/07/13']

In [42]:
data = pd.read_csv('100101_230713_rawdata.csv', encoding = 'cp949')

In [43]:
data

         지점 지점명                일시  강수량(mm)
0       403  송파   2010/01/01 0:00      0.0
1       403  송파   2010/01/01 1:00      0.0
2       403  송파   2010/01/01 2:00      0.0
3       403  송파   2010/01/01 3:00      0.0
4       403  송파   2010/01/01 4:00      0.0
...     ...  ..               ...      ...
117827  403  송파  2023/07/13 19:00      3.5
117828  403  송파  2023/07/13 20:00      0.5
117829  403  송파  2023/07/13 21:00      3.5
117830  403  송파  2023/07/13 22:00      5.0
117831  403  송파  2023/07/13 23:00      0.5

[117832 rows x 4 columns]

In [46]:
import datetime

data['일시']= pd.to_datetime(data['일시'])

In [69]:
converted_dates = pd.to_datetime(sorted_all_rain).date

# 필터링하여 새로운 DataFrame 생성
new_df = data[data['일시'].dt.date.isin(converted_dates)]

# 결과 출력
print(new_df)

         지점 지점명                  일시  강수량(mm)
2063    403  송파 2010-03-31 00:00:00      0.0
2064    403  송파 2010-03-31 01:00:00      0.0
2065    403  송파 2010-03-31 02:00:00      0.0
2066    403  송파 2010-03-31 03:00:00      0.0
2067    403  송파 2010-03-31 04:00:00      0.0
...     ...  ..                 ...      ...
117827  403  송파 2023-07-13 19:00:00      3.5
117828  403  송파 2023-07-13 20:00:00      0.5
117829  403  송파 2023-07-13 21:00:00      3.5
117830  403  송파 2023-07-13 22:00:00      5.0
117831  403  송파 2023-07-13 23:00:00      0.5

[15093 rows x 4 columns]

In [63]:
# 10년 1월 1일 ~ 23년 7월 13일
# 야구 경기할 때 비가 온 날들
# 해당 날에 1시간이라도 왔으면 다 포함
# 그 날의 00시 ~ 23시 강수량이 시간대별로 수집되어 있는 csv
new_df.to_csv('all_rain_raw_100101_230713.csv', encoding = 'cp949')

PermissionError: [Errno 13] Permission denied: 'all_rain_raw_100101_230713.csv'

In [54]:
# 일자별 평균 강수량 계산
all_rain_raw_100101_230713_daily_avg = new_df.groupby(new_df['일시'].dt.date)['강수량(mm)'].mean()

# 일자별 최대 강수량 계산
all_rain_raw_100101_230713_daily_max = new_df.groupby(new_df['일시'].dt.date)['강수량(mm)'].max()

In [55]:
all_rain_raw_100101_230713_daily_avg

일시
2010-03-31    0.479167
2010-04-01    0.041667
2010-04-12    0.208333
2010-04-13    0.125000
2010-04-21    0.104167
                ...
2023-07-04    2.041667
2023-07-05    1.450000
2023-07-09    1.058824
2023-07-11    4.375000
2023-07-13    3.375000
Name: 강수량(mm), Length: 636, dtype: float64

In [56]:
all_rain_raw_100101_230713_daily_max

일시
2010-03-31     2.0
2010-04-01     1.0
2010-04-12     2.5
2010-04-13     2.0
2010-04-21     1.5
              ...
2023-07-04    17.5
2023-07-05     8.5
2023-07-09     9.0
2023-07-11    39.0
2023-07-13    19.0
Name: 강수량(mm), Length: 636, dtype: float64

In [91]:
all_rain_raw_100101_230713_daily_avg.to_csv('all_rain_raw_100101_230713_daily_avg.csv', encoding = 'cp949')
all_rain_raw_100101_230713_daily_max.to_csv('all_rain_raw_100101_230713_daily_max.csv', encoding = 'cp949')

In [57]:
new_df = new_df.set_index('일시')

In [65]:
new_df_filtered = new_df.between_time('11:00', '20:00')
new_df_filtered = pd.DataFrame(new_df_filtered)

In [66]:
new_df_filtered

                      지점 지점명  강수량(mm)
일시
2010-03-31 11:00:00  403  송파      2.0
2010-03-31 12:00:00  403  송파      2.0
2010-03-31 13:00:00  403  송파      1.5
2010-03-31 14:00:00  403  송파      0.0
2010-03-31 15:00:00  403  송파      0.0
...                  ...  ..      ...
2023-07-13 16:00:00  403  송파     19.0
2023-07-13 17:00:00  403  송파      1.0
2023-07-13 18:00:00  403  송파      3.0
2023-07-13 19:00:00  403  송파      3.5
2023-07-13 20:00:00  403  송파      0.5

[6260 rows x 3 columns]

In [88]:
daily_avg = new_df_filtered['강수량(mm)'].resample('D').mean()
daily_max = new_df_filtered['강수량(mm)'].resample('D').max()

In [89]:
daily_avg

일시
2010-03-31    0.60
2010-04-01    0.10
2010-04-02     NaN
2010-04-03     NaN
2010-04-04     NaN
              ...
2023-07-09    3.00
2023-07-10     NaN
2023-07-11    9.25
2023-07-12     NaN
2023-07-13    7.20
Freq: D, Name: 강수량(mm), Length: 4853, dtype: float64

In [90]:
daily_max

일시
2010-03-31     2.0
2010-04-01     1.0
2010-04-02     NaN
2010-04-03     NaN
2010-04-04     NaN
              ...
2023-07-09     9.0
2023-07-10     NaN
2023-07-11    39.0
2023-07-12     NaN
2023-07-13    19.0
Freq: D, Name: 강수량(mm), Length: 4853, dtype: float64

In [92]:
daily_avg.to_csv('all_rain_filtered_time_11_20_avg.csv', encoding = 'cp949')
daily_max.to_csv('all_rain_filtered_time_11_20_max.csv', encoding = 'cp949')

In [67]:
new_df_filtered.to_csv('all_rain_filtered_time_11_20.csv', encoding = 'cp949')

In [74]:
new_df.loc[:, '경기취소여부'] = new_df['일시'].dt.date.astype(str).isin(rainandcancelgame10_23list).astype(int)
new_df.tail(40)

C:\Users\LG\AppData\Local\Temp\ipykernel_3232\3967809254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.loc[:, '경기취소여부'] = new_df['일시'].dt.date.astype(str).isin(rainandcancelgame10_23list).astype(int)

         지점 지점명                  일시  강수량(mm)  경기취소여부
117768  403  송파 2023-07-11 08:00:00      0.0       0
117769  403  송파 2023-07-11 09:00:00      6.5       0
117770  403  송파 2023-07-11 10:00:00      6.0       0
117771  403  송파 2023-07-11 11:00:00      5.5       0
117772  403  송파 2023-07-11 12:00:00      2.0       0
117773  403  송파 2023-07-11 13:00:00      0.0       0
117774  403  송파 2023-07-11 14:00:00      1.0       0
117775  403  송파 2023-07-11 15:00:00      5.0       0
117776  403  송파 2023-07-11 16:00:00     39.0       0
117777  403  송파 2023-07-11 17:00:00     33.5       0
117778  403  송파 2023-07-11 18:00:00      5.5       0
117779  403  송파 2023-07-11 19:00:00      0.5       0
117780  403  송파 2023-07-11 20:00:00      0.5       0
117781  403  송파 2023-07-11 21:00:00      0.0       0
117782  403  송파 2023-07-11 22:00:00      0.0       0
117783  403  송파 2023-07-11 23:00:00      0.0       0
117808  403  송파 2023-07-13 00:00:00      0.0       0
117809  403  송파 2023-07-13 01:00:00      0.0       0
117810  403  송파 2023-07-13 02:00:00      0.0       0
117811  403  송파 2023-07-13 03:00:00      0.0       0
117812  403  송파 2023-07-13 04:00:00      0.0       0
117813  403  송파 2023-07-13 05:00:00      0.0       0
117814  403  송파 2023-07-13 06:00:00      0.0       0
117815  403  송파 2023-07-13 07:00:00      0.0       0
117816  403  송파 2023-07-13 08:00:00      0.0       0
117817  403  송파 2023-07-13 09:00:00      0.0       0
117818  403  송파 2023-07-13 10:00:00      0.0       0
117819  403  송파 2023-07-13 11:00:00      8.5       0
117820  403  송파 2023-07-13 12:00:00     13.5       0
117821  403  송파 2023-07-13 13:00:00      8.0       0
117822  403  송파 2023-07-13 14:00:00      1.5       0
117823  403  송파 2023-07-13 15:00:00     13.5       0
117824  403  송파 2023-07-13 16:00:00     19.0       0
117825  403  송파 2023-07-13 17:00:00      1.0       0
117826  403  송파 2023-07-13 18:00:00      3.0       0
117827  403  송파 2023-07-13 19:00:00      3.5       0
117828  403  송파 2023-07-13 20:00:00      0.5       0
117829  403  송파 2023-07-13 21:00:00      3.5       0
117830  403  송파 2023-07-13 22:00:00      5.0       0
117831  403  송파 2023-07-13 23:00:00      0.5       0

In [81]:
new_df.drop('경기취소여부', axis=1, inplace=True)
new_df

C:\Users\LG\AppData\Local\Temp\ipykernel_3232\3659683468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop('경기취소여부', axis=1, inplace=True)

         지점 지점명                  일시  강수량(mm)
2063    403  송파 2010-03-31 00:00:00      0.0
2064    403  송파 2010-03-31 01:00:00      0.0
2065    403  송파 2010-03-31 02:00:00      0.0
2066    403  송파 2010-03-31 03:00:00      0.0
2067    403  송파 2010-03-31 04:00:00      0.0
...     ...  ..                 ...      ...
117827  403  송파 2023-07-13 19:00:00      3.5
117828  403  송파 2023-07-13 20:00:00      0.5
117829  403  송파 2023-07-13 21:00:00      3.5
117830  403  송파 2023-07-13 22:00:00      5.0
117831  403  송파 2023-07-13 23:00:00      0.5

[15093 rows x 4 columns]

In [85]:
new_df['경기취소여부'] = new_df['일시'].apply(lambda x: 1 if x in rainandcancelgame10_23list else 0)

C:\Users\LG\AppData\Local\Temp\ipykernel_3232\1872203259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['경기취소여부'] = new_df['일시'].apply(lambda x: 1 if x in rainandcancelgame10_23list else 0)

In [86]:
new_df

         지점 지점명                  일시  강수량(mm)  경기취소여부
2063    403  송파 2010-03-31 00:00:00      0.0       0
2064    403  송파 2010-03-31 01:00:00      0.0       0
2065    403  송파 2010-03-31 02:00:00      0.0       0
2066    403  송파 2010-03-31 03:00:00      0.0       0
2067    403  송파 2010-03-31 04:00:00      0.0       0
...     ...  ..                 ...      ...     ...
117827  403  송파 2023-07-13 19:00:00      3.5       0
117828  403  송파 2023-07-13 20:00:00      0.5       0
117829  403  송파 2023-07-13 21:00:00      3.5       0
117830  403  송파 2023-07-13 22:00:00      5.0       0
117831  403  송파 2023-07-13 23:00:00      0.5       0

[15093 rows x 5 columns]

In [93]:
daily_avg

일시
2010-03-31    0.60
2010-04-01    0.10
2010-04-02     NaN
2010-04-03     NaN
2010-04-04     NaN
              ...
2023-07-09    3.00
2023-07-10     NaN
2023-07-11    9.25
2023-07-12     NaN
2023-07-13    7.20
Freq: D, Name: 강수량(mm), Length: 4853, dtype: float64

In [94]:
daily_avg.dropna(how='any', axis=0, inplace=True)
daily_avg.isnull().sum()

0

In [95]:
daily_avg

일시
2010-03-31    0.60
2010-04-01    0.10
2010-04-12    0.00
2010-04-13    0.00
2010-04-21    0.15
              ...
2023-06-30    0.00
2023-07-04    2.90
2023-07-09    3.00
2023-07-11    9.25
2023-07-13    7.20
Name: 강수량(mm), Length: 629, dtype: float64

In [96]:
daily_max.dropna(how='any', axis=0, inplace=True)
daily_max.isnull.sum()

AttributeError: 'function' object has no attribute 'sum'

### 11시 ~ 20시 강수량만  평균, 최대

In [101]:
daily_avg.describe()

count    629.000000
mean       0.860219
std        1.952882
min        0.000000
25%        0.000000
50%        0.150000
75%        0.750000
max       26.050000
Name: 강수량(mm), dtype: float64

In [100]:
daily_max.describe()

count    629.000000
mean       4.144674
std        8.124561
min        0.000000
25%        0.000000
50%        1.000000
75%        4.000000
max       57.500000
Name: 강수량(mm), dtype: float64

### 하루종일 강수량 평균, 최대

In [102]:
all_rain_raw_100101_230713_daily_avg.describe()

count    636.000000
mean       0.849256
std        1.522838
min        0.020833
25%        0.083333
50%        0.312500
75%        1.005208
max       22.583333
Name: 강수량(mm), dtype: float64

In [103]:
all_rain_raw_100101_230713_daily_max.describe()

count    636.000000
mean       7.123428
std        9.458410
min        0.500000
25%        1.000000
50%        3.000000
75%        8.500000
max       60.500000
Name: 강수량(mm), dtype: float64